{% extends 'base.html' %}
{% block main_content %}

{# <a class="btn btn-primary" href="{% url 'currency:rate-create' %}">Create Rate</a> #}

{# <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Submit</button>
</form> #}

<table>
    <tr>
        <th> Id </th>
        <th> Sale </th>
        <th> Buy </th>
        <th> Type </th>
    </tr>
    {% for rate in rate_list %}
    <tr>
        <td>{{ rate.id }}</td>
        <td> {{ rate.sale }}</td>
        <td>{{ rate.buy }}</td>
        <td>{{ rate.get_type_display }}</td>
        {% if request.user.is_authenticated %}
            <td><a href="{% url 'currency:source-details' rate.source_id %}">{{ rate.source.name }}</a></td>
        <td>{{ rate.created }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
